@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");

$veryLightRed: hsl(13, 100%, 72%);
$veryLightRed2: hsl(355, 100%, 74%);
$lightRed: hsl(353, 100%, 62%);
$lightRed2: hsl(356, 100%, 66%);

$grayishBlue: hsl(240, 2%, 79%);
$veryDarkBlue: hsl(208, 49%, 24%);
$veryDarkGrayishBlue: hsl(207, 13%, 34%);
$veryDarkGreyBlue: hsl(237, 17%, 21%);
$veryDarkBlackBlue: hsl(240, 10%, 16%);
$veryDarkDesaturatedBlue: hsl(237, 23%, 32%);

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
p {
  font-family: "Overpass", sans-serif;
}

#title {
  background-image: url(../images/bg-pattern-intro.svg), linear-gradient(to bottom, $veryLightRed, $lightRed);
  background-repeat: no-repeat, no-repeat;
  background-position: -320px -250px, 0;
  background-size: 80em, auto;
  color: white;
  height: 570px;
  border-bottom-left-radius: 100px;
  text-align: center;
  margin-bottom: 110px;

  .title-content {
    padding: 0 24px;

    h1 {
      font-size: 2.3em;
      margin: 0;
    }

    p {
      font-size: 1.2em;
      margin-bottom: 38px;
    }

    .start-free,
    .learn-more {
      font-size: 1em;
      font-weight: 700;
      border-style: none;
      background-color: white;
      color: $lightRed2;
      font-family: "Ubuntu", sans-serif;
      border-radius: 30px;
      height: 44px;
      width: 135px;
      &:hover {
        background-color: $veryLightRed2;
        color: white;
      }
    }

    .learn-more {
      margin-left: 10px;
      background-color: transparent;
      border: 1px solid white;
      color: white;
      &:hover {
        background-color: white;
        color: $veryLightRed2;
      }
    }
  }

  nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 20px;
    margin-bottom: 40px;

    .logo {
    }

    .icon-hamburger {
      background: url(../images/icon-hamburger.svg) no-repeat;
      display: inline-block;
      width: 32px;
      height: 18px;
    }

    .icon-hamburger-button {
      background-color: transparent;
      border-style: none;
    }
  }
}

#intro {
  text-align: center;

  img {
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 1.7em;
    margin-bottom: 40px;
    font-weight: 600;
    color: $veryDarkBlue;
  }

  .intro-content {
    padding: 0 36px;
    margin-bottom: 100px;
    h3 {
      font-size: 1.75em;
      color: $veryDarkBlue;
      margin-bottom: 10px;
    }

    p {
      font-size: 1em;
      line-height: 1.7em;
      color: $veryDarkGrayishBlue;
    }
  }
}

#brief {
  background: linear-gradient(to right, $veryDarkGreyBlue, $veryDarkDesaturatedBlue);
}

#footer {
  background-color: $veryDarkGreyBlue;
}
