@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");

$veryLightRed: hsl(13, 100%, 72%);
$veryLightRed2: hsl(355, 100%, 74%);
$lightRed: hsl(353, 100%, 62%);
$lightRed2: hsl(356, 100%, 66%);

$grayishBlue: hsl(240, 2%, 79%);
$grayishBlue2: hsl(240, 2%, 89%);
$veryDarkBlue: hsl(208, 49%, 24%);
$veryDarkBlue2: hsl(208, 29%, 34%);
$veryDarkGrayishBlue: hsl(207, 13%, 34%);
$veryDarkGreyBlue: hsl(237, 17%, 21%);
$veryDarkBlackBlue: hsl(240, 10%, 16%);
$veryDarkDesaturatedBlue: hsl(237, 23%, 32%);
$veryDarkDesaturatedBlue2: hsl(237, 23%, 28%);

@mixin button-style {
  font-size: 1em;
  font-weight: 700;
  border-style: none;
  font-family: "Ubuntu", sans-serif;
  border-radius: 30px;
  height: 44px;
  width: 135px;
  color: white;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Overpass", sans-serif;
}

button {
  cursor: pointer;
}

.logo {
  width: 75px;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    text-decoration-color: white;
  }
}

#title {
  background-image: url(../images/bg-pattern-intro.svg), linear-gradient(to bottom, $veryLightRed, $lightRed);
  background-repeat: no-repeat, no-repeat;
  background-position: -320px -250px, 0;
  background-size: 80em, auto;
  color: white;
  border-bottom-left-radius: 100px;
  text-align: center;
  margin-bottom: 100px;
  padding: 50px 24px 0;
  height: 545px;

  nav {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 120px;

    .icon-hamburger {
      background: url(../images/icon-hamburger.svg) no-repeat;
      display: inline-block;
      width: 32px;
      height: 18px;
    }
    .icon-close {
      background: url(../images/icon-close.svg) no-repeat;
      display: inline-block;
      width: 32px;
      height: 25px;
    }

    .icon-hamburger-button {
      background-color: transparent;
      border-style: none;
    }

    .navbar-menu {
      display: none;
      position: absolute;
      width: 100%;
      max-width: 400px;
      background-color: white;
      border-radius: 8px;
      right: 0px;

      top: 80px;
      box-shadow: 0px 10px 20px 1px rgba(0, 0, 0, 0.2);

      .navbar-items {
        border-bottom: 1px solid hsl(240, 2%, 94%);
        margin: 0 20px;
        color: black;

        .list-header {
          font-size: 1rem;
          color: $veryDarkBlue;

          cursor: pointer;
          &::after {
            content: url(../images/icon-arrow-dark.svg);
            margin-left: 5px;
          }
        }

        .list {
          display: none;
          padding: 10px 0;
          background-color: hsl(240, 2%, 94%);
          border-radius: 6px;

          li {
            margin: 15px 0;
            list-style: none;

            a {
              font-weight: 600;
              font-size: 0.9rem;
              color: $veryDarkBlue2;
            }
          }
        }
      }

      .navbar-buttons {
        margin-top: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;

        .login {
          @include button-style;
          color: black;
          background-color: white;
          margin-bottom: 10px;
        }

        .sign-up {
          @include button-style;
          background-image: linear-gradient(to right, $veryLightRed, $lightRed);
        }
      }
    }
  }

  .title-content {
    h1 {
      font-size: 2.3em;
      margin: 0;
    }

    p {
      font-size: 1.15em;
      margin-bottom: 38px;
    }

    .start-free {
      @include button-style;
      background-color: white;
      color: $lightRed2;
      &:hover {
        background-color: $veryLightRed2;
        color: white;
      }
    }

    .learn-more {
      @include button-style;
      margin-left: 10px;
      background-color: transparent;
      border: 1px solid white;
      color: white;
      &:hover {
        background-color: white;
        color: $veryLightRed2;
      }
    }
  }
}

#intro {
  text-align: center;
  margin-bottom: 250px;

  img {
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 1.7em;
    margin-bottom: 40px;
    font-weight: 600;
    color: $veryDarkBlue;
  }

  .intro-content {
    padding: 0 36px;
    h3 {
      font-size: 1.75em;
      color: $veryDarkBlue;
      margin-bottom: 10px;
    }

    p {
      font-size: 1em;
      line-height: 1.7em;
      color: $veryDarkGrayishBlue;
    }
  }
}

#brief {
  background-image: url(../images/bg-pattern-circles.svg);
  background-repeat: no-repeat;
  background-position: center -240px;
  background-size: 160%;
  background-color: $veryDarkDesaturatedBlue2;
  color: white;
  border-radius: 0 100px;

  text-align: center;
  margin-bottom: 50px;

  img {
    width: 100%;
    max-width: 400px;
    margin-top: -180px;
  }

  .brief-content {
    padding: 0 32px 100px;

    h2 {
      font-size: 2.4em;
      margin: 0;
    }

    p {
      line-height: 2em;
      color: $grayishBlue2;
    }
  }
}

#features {
  text-align: center;
  margin-bottom: 100px;

  img {
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
  }

  .features-content {
    padding: 0 36px;
    h3 {
      font-size: 1.75em;
      color: $veryDarkBlue;
      margin-bottom: 10px;
    }

    p {
      font-size: 1em;
      line-height: 1.7em;
      color: $veryDarkGrayishBlue;
    }
  }
}

#footer {
  background-color: $veryDarkBlackBlue;
  color: white;
  text-align: center;
  border-top-right-radius: 100px;
  padding-bottom: 75px;

  .logo {
    width: 100px;
    margin: 60px 0;
  }

  p {
    font-family: "Overpass", sans-serif;
    font-size: 1.1em;
    font-weight: 600;
    margin-bottom: 30px;
  }

  .list {
    margin: 0 0 50px;
    font-family: "Ubuntu", sans-serif;

    ul {
      list-style-type: none;
      padding: 0;
    }

    &:last-child {
      margin: 0;
    }

    li {
      color: $grayishBlue;
      margin-bottom: 10px;
      font-size: 1.1em;
    }
  }
}
